<h1>Workday: <%= @workday.id %></h1>
<br>
</br>

<h3><u>Notes:</u> <%= @workday.notes %></h3>
<br>
<h3><u>Shift Start:</u> <%= @workday.shift_start %> @ <%= @workday.shift_start_time %></h3>
<br>
<h3><u>Shift End:</u> <%= @workday.shift_end %> @ <%= @workday.shift_end_time %></h3>


<br>
</br>

<a href="/workdays/<%= @workday.id %>/edit">Edit</a>