<h1>Workday: <%= @workday.id %></h1>

<h3><%= @workday.notes %></h3>
<h3><%= @workday.shift_start %></h3>
<h3><%= @workday.shift_start_time %></h3>
<h3><%= @workday.shift_end %></h3>
<h3><%= @workday.shift_end_time %></h3>

<a href="/workdays/<%= @workday.id %>/edit">Edit Workday</a>